body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #1a564b;
    font-weight: bold;
    color: #d2b2a8;
    text-align: center;
}

h1 {
    color: #a4a6db;
    font-size: 3rem;
    font-weight: bold;
}

#message-el {
    font-style: italic;
}

button {
    width: 150px;
    padding: 15px;
    font-weight: bold;
    background-color: #FF69B4;
    color: #000;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
}
button:first-of-type {
    margin-bottom: 10px;
}

button:hover {
    color: #000;
    background-color: #FF96CB;
}